@media only screen and ( max-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    .topcontainer{
        max-width: 1150px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 5%;
        padding-right: 3%;
    }
    .logocontainer{
        width: 100%;
    }
    .logo img{
        width: 70%;
    }
    .caption p{
        width: 100%;
        font-size: clamp(1.65rem, 50%, 2rem);
    }
    .card{
        max-width: auto;
    }
    .topcard{
        width: 100%;
    }
    .formcontainer{
        width: 100%;
    }
    .bottomcard{
        width: auto;
    }
    .cardtext{
        width: auto;
    }
    .bottomcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
    }
    .languages{
        width: 100%;
    }
    .hr{
        width: 80%;
    }
    .links{
        width: 100%;
    }
}